<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

        <main class="home">
            <div class="th-hero th-hero--zion">
                <div class="hero-content slds-text-align_center">
                    <h1 class="th-hero__heading th-hero__heading--signed-out">Welcome to Microdemos!</h1>
                    <div class="th-hero__sub-heading">the fun way to learn Salesforce</div>
                </div>
            </div>
            <div class="content">
                <div class="content-container">
                    <div class="grid-tiles">
                        <div class="slds-text-align_center">
                            <h3 class="th-text--x-large th-text--nexa-rust th-color--navy slds-m-top_xx-large slds-m-bottom_medium">
                                Blaze your trail
                            </h3>
                            <p class="th-color--navy th-text--medium">
                                Trails are guided learning paths that chart your course through Salesforce skills.
                            </p>
                        </div>
                        <div class="tile-grid tiles-container">
                            <% results.rows.forEach(function(r) { %>

                                <div class="tile-container">
                                    <article class="tile tile-type-trail" data-api-name="learn-privacy-and-data-protection-law" data-content-type="trail">
                                        <div class="tile-content">
                                            <div class="tile-header" style="background-color: #DB350F">
                                                <a title="<%= r.nombre %>" class="tile-icon" tabindex="-1" aria-hidden="true" href="<%= r.liga %>"><img alt="<%= r.nombre %>" class="tile-icon-image" src="https://developer.salesforce.com/resource/images/trailhead/trails/trailhead_trail_admin_advanced.png"></a>
                                                <div class="tile-meta-content">
                                                    <div class="progress-text">
                                                        <%= r.estatus %>
                                                    </div>
                                                    <div class="progress-text">
                                                        <%= r.fechatexto %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tile-body">
                                                <div>
                                                    <span class="tile-type">
                                                        Webinar
                                                    </span>
                                                </div>
                                                <h3><a title=" Learn Privacy and Data Protection Law" class="tile-title" href="<%= r.liga %>">
                                                    <%= r.nombre %>
                                                </a></h3>
                                                <div class="tile-description">
                                                    <%= r.descripcioncorta %>
                                                </div>
                                                <ul class="tile-tags">
                                                    <li>
                                                        <a class="tag" data-filter="role-user" data-genre="webinar" data-type="role" href="#" role="button">
                                                            <%= r.nube %>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>